:root{
    color: #028090;
    color: #337F5e;
    color: #912F40;
    color: #BF7D26;
    color: #564848;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    font-family: "Playwrite DE Grund", system-ui;
    font-weight:400;
    font-style: normal; 
}
h1 {
    position:relative;
    font-family: "Playwrite DE Grund", system-ui;
    font-weight:400;
    font-style: normal;
    background-color: #564848;
    color: #912F40;
}
h2 {
    position: absolute;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #028090;
    color:#bf7d26;
}
footer {
    text-decoration: none;
    font-size:medium
}
.hero div {
    position: absolute;
    width: 1000px;
}
.hero img {
    display:block;
    width: 100%;
    height: auto;
}
article {
    position: absolute;
    background-color: antiquewhite;
    color: black;
}

    