:root{
    --heading-background-color: #028090;
    --secondary-color: #337F5e;
    --accent-color: #912F40;
    --heading-text-color: #BF7D26;
    --seconday-accent-color: #564848;
    --main-font-family: "Poppins", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --font-family: "Playwrite DE Grund", sans-serif;
    --font-weight:400;
    --font-style: normal; 
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-content: center;
    font-weight:500;
    font-size:xx-large;
}

nav {
    margin: 1rem auto;
    max-width: 1000px;
    display:flex;
    flex-wrap:wrap;
    list-style: none;
}

a {
    display: flex;
    margin:5px;
    padding:5px;
    max-width: 1000px;
    justify-content: space-between;
    text-decoration: none;
    color:black
}
h1 {
    margin:10px;
    text-align: center;
    position: absolute;
    top:auto;
    left:auto;
    color: var(--heading-text-color);
    font-family: var(--main-font-family);

}
p {
    background-color: var(--secondary-color);
    color: black;
    font-family:var(--font-family);
    font-weight: bold; 
    text-align: center;

}

section:nth-of-type(1) {
    display:flex;

    
}

section:nth-of-type(2) {
    width: 4px;
    height:auto;
    display:grid;
    grid-gap: 60px;
}
.article img {
    position:absolute;
    float: right;
}
h2 {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
    color:var(--heading-text-color)
}
footer {
    text-decoration: none;

}
.hero div {
    position:absolute;
    width: 1000px;
}
.hero img {
    float:right;
    display:block;
    width: 100%;
    height: auto;
}
article {
    background-color: antiquewhite;
    color: black;
}

.sociallinks img {
    height: 35px;
}